*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /* margin:0;
  color:#444;
  background-color:#91E9EE;
  font:300 14px/18px Roboto, sans-serif;
  display: flexbox;
  flex-direction: column;
  padding: 10px 20px; */
  background-color:#91E9EE;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: auto;
  /* background: linear-gradient(-45deg, #0165c9 #0e98e8, #6E85B7, #B2C8DF, #C4D7E0, #F8F9D7  ); */
  /* @keyframes gradient {0%{background-position:0% 50%,}
   50%{background-position:100% 50%,}
   100%{background-position:0% 50%,}
     */
  }


}

.header{
 padding: 0 0 0 10px;
}
.main{
  margin: auto;
  min-height: auto;
  
  padding: 5px;
  text-align: center;
  display: grid;
  box-shadow: ;
  position: relative;

}
.submit{
  background-color: #F8F9D7;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;


}
.submit:hover{
  background-color: aqua;
  transition: 0.7s;
}
input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F8F9D7;

}